body {
  font-family: serif;
  background: #000;
  margin: 0;
  padding: 0;
  color: #fff1dc;
}

#game-container {

  background: #555 url('imagens/fundo_caverna.webp') no-repeat center center;
  background-size: cover;
  max-width: 500px;
  margin: 9px auto;
  padding: 15px 24px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

#scene-image {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  border:6px solid #121213;
}

#scene-text {
  font-size: 1.2em;
  margin-bottom: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 1px 1px 2px #000;
  background-color: #ffffff35;
  margin-bottom: 0px;
  padding: 15px;

}

#options button {
  font-family: serif;
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  font-size: 1.3em;
  border: none;
  border-radius: 6px;
  background: #dbc235;
  color: #333;
  background: #121213;
  color: #ffddab;
  border: 1px solid #ffddab;
  cursor: pointer;
  transition: background 0.6s;
  text-transform: uppercase;
}

#options button:hover {
  background: #444640;
  color: #ffddab;
  border: 1px solid #ebb15b;

}

.fim-msg {
  font-size: 1.3em;
  font-weight: bold;
  color: #FFF;
  margin: 32px;
  text-align: center;
}

.img-container {
  text-align: center;
  padding: 2px 26px 14px 14px;
  
  background-color: #ffffff35;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}